<div class="container">
    <h3>Ajout d'un jeu</h3>
    <form>
        <div>
            <label> Identifiant du jeu </label>
            <input type="number" name="id" readonly>
        </div>
        <div>
            <label>Nom</label>
            <input type="text"  name="name" >
        </div>
        <div>
            <label>Prix</label>
            <input type="number" name="price" >
        </div>

        <div>
            <label> Made In </label>
            <label>
                <input type="radio" name="madeIn" value="Tunisie" >Tunisie
            </label>
            <label>
                <input type="radio" name="madeIn" value="Autre" >Autre
            </label>
        </div>
        <div>
            <label>Catégorie</label>
            <select name="selCategories">

            </select>
        </div>
        <div>
            <label>
                <input type="checkbox" name="isNew" > Nouveau
            </label>
        </div>

        <input type="submit"  value="Ajouter">
        <input type="button" value="Effacer">

    </form>
</div>