<div class="container">
    <h3>Ajout d'un jeu</h3>
    <form [formGroup]="gameForm" (ngSubmit)="onSubmit()">
        <div>
            <label> Identifiant du jeu </label>
            <input class="form-control" type="number" name="id" readonly formControlName="id">
        </div>
        <div>
            <label>Nom</label>
            <input class="form-control" type="text"  name="name" formControlName="name">
        </div>
        <div>
            <label>Prix</label>
            <input class="form-control" type="number" name="price" formControlName="price">
        </div>

        <div>
            <label> Made In </label>
            <label>
                <input  type="radio" name="madeIn" value="Tunisie" formControlName="madeIn">Tunisie
            </label>
            <label>
                <input  type="radio" name="madeIn" value="Autre" formControlName="madeIn">Autre
            </label>
        </div>
        <div>
            <label>Catégorie</label>
            <select  class="form-select" name="selCategories"  formControlName="category" >
                @for(cat of category ;track $index){
                    <option value="{{cat}}" >{{cat}}</option>
                }

            </select>
        </div>
        <div>
            <label>
                <input  type="checkbox" name="isNew" formControlName="isNew"> Nouveau
            </label>
        </div>

        <input type="submit"  value="Ajouter">
        <input type="button" value="Effacer" (click)="onResetForm()">

    </form>
    {{games | json}}
</div>